#HTTP Strict Transport Security

Header set Strict-Transport-Security: max-age=31536000 env=HTTPS
AddType application/json json
<FilesMatch "apple-app-site-association">
    ForceType application/json
</FilesMatch>